<% include header %>

<h1> Threads</h1>
<a href="/users/listthreads/create" class="btn btn-primary float-left">+ Create Thread</a>
<a href="/users/logout" class="btn btn-primary float-right">Logout</a>
<br><br><br>
<div class="container threadContainer">
    <% if (threads.length>0) { %>
    <% for (var i = 0; i<threads.length; i++) { %>
    <div class="card thread">
        <div class="card-header">
            <p class="float-right text-muted">
                <small>Created:
                    <%= threads[i].createdAt.getMonth()+"/"+threads[i].createdAt.getDate()+"/"+ threads[i].createdAt.getFullYear()%>
                </small>
            </p>
            Name: <%= threads[i].author.username %>
        </div>
        <div class="card-body">
            <div class="card-text">
                <p><%= threads[i].title %></p>
            </div>
            <% if (threads[i].img) {%>
            <img class="img-thumbnail" src="/images/<%= threads[i].img %>">
            <%} %>
        </div>
        <div class="card-footer">
            <a href="/users/listthreads/view/<%= threads[i]._id %>" class=" btn btn-primary float-right">View</a>
        </div>
    </div>
    <br>
    <%} %>
    <% } else { %>
    <div class="alert alert-primary" role="alert">
        No record found!
    </div>
    <% } %>
</div>
<% include footer %>